@use '@/app/styleGuide' as *;

.quem-somos__container {
  display: flex;
  width: 100%;
  padding: 2rem 1.25rem 0rem 1.25rem;
  flex-direction: column;
  align-items: center;

  .quem-somos__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    .header__title1 {
      @include title1;
      margin-bottom: 0.5rem;
      margin-top: 2rem;
    }

    .header__title2 {
      @include title2;
      text-transform: uppercase;
    }

    .header__text1 {
      @include padrao;
      font-size: 0.875rem;
      line-height: 1.5rem;
    }
  }

  .quem-somos__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    gap: 1.5rem;
    margin-bottom: 3rem;

    .body__company {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      align-self: stretch;
      border: 1px solid $background;
      background: $white;

      .body__company__logo {
        display: flex;
        height: 4.6875rem;
        padding: 0rem 5.82994rem 0rem 5.875rem;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        background-color: $background;
      }

      .body__company__info {
        display: flex;
        padding: 1rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
        align-self: stretch;

        .body__company__title {
          color: $green;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1.5rem;
        }

        .body__company__text {
          color: $text1;
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.5rem;
        }
      }
    }
  }
}
