@use '@/app/styleGuide' as *;



.banner {

    position: relative;

    .banner__content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.8rem 1.25rem 0 1.25rem;
        position: absolute;

        .banner__maintitle {
            @include title1;
            line-height: 150%;
            font-size: 1.875rem;
        }

        .banner__mainbutton {
            @include button1;
            color: $white;
            font-weight: 500;
        }
    }

    .banner__bg {
        width: 100%;
        padding-top: 11.5rem;
        z-index: -1;
    }
}