@use '@/app/styleGuide' as *;


.oq-fazemos {
    .oq-fazemos-container {
        background-color: $white;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem 1.25rem 0;

        .oq-fazemos__title2 {
            @include title2();
            text-transform: uppercase;
        }

        .oq-fazemos__text {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .oq-fazemos__maintitle {
                @include title1();
            }

            .oq-fazemos__paragraph {
                font-size: 0.875rem;
                line-height: 1.5rem;
            }
        }

        .modelos-negocio {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .modelos__title {
                font-size: 1.125rem;
                font-weight: 500;
                color: $grey;
            }

            .modelos__card {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                .modelos__header {
                    display: flex;
                    gap: 0.62rem;
                    align-items: center;

                    .modelos__header__text {
                        font-size: 0.875rem;
                        font-weight: 500;
                        line-height: 1.5rem;
                    }
                }

                .modelos__body__text {
                    font-size: 0.875rem;
                    font-weight: 400;
                    color: $text2;
                    line-height: 1.5rem;
                }
            }
        }

        .servicos {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            padding: 2rem 0;

            .servicos__title {
                font-size: 1.125rem;
                font-weight: 500;
                color: $grey;
            }

            .servicos__card {
                display: flex;

                .servicos__card__image {
                    width: 30%;
                }

                .servicos__text {
                    background-color: $green2;
                    width: 100%;

                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 0.25rem;

                    color: $white;
                    line-height: 1.5rem;

                    .servicos__card__title {
                        font-size: 0.875rem;
                        font-weight: 500;
                    }

                    .servicos__card__paragraph {
                        font-size: 0.75rem;
                        font-weight: 400;
                    }
                }

                .servico2 {
                    background-color: $green3;
                }
                .servico3 {
                    background-color: $green4;
                }
                .servico4 {
                    background-color: $green5;
                }
                .servico5 {
                    background-color: $green6;
                }
            }
        }
    }

    .como-fazemos {
        display: flex;
        flex-direction: column;
        background-color: $white;

        .como-fazemos__header {
            padding: 2rem 1.25rem 1.25rem;
            background-color: $background;

            .como-fazemos__title2 {
                @include title2();
                text-transform: uppercase;
                margin-bottom: 1.5rem;
            }

            .como-fazemos__text {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                .como-fazemos__maintitle {
                    @include title1();
                    line-height: 1.5rem;
                }

                .como-fazemos__paragraph {
                    font-size: 0.875rem;
                    line-height: 1.5rem;
                }
            }
        }

        .como-fazemos__content {
            padding-inline: 1.25rem;
            padding-bottom: 1.5rem;
            display: flex;
            overflow: scroll;
            background-color: $background;
            
            .como-fazemos__card {
                background-image: url("/assets/imagens/cardsMetodologia/card1.svg");
                background-repeat: no-repeat;
                background-size: auto;
                min-width: 11.71875rem;
                height: 9.625rem;

                .como-fazemos__card__content {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
    
                    padding: 1rem 3rem;

                    .como-fazemos__card__title {
                        color: $white;
                        font-size: 1rem;
                        font-weight: 500;
                        line-height: 1.5rem;
                    }

                    .como-fazemos__card__divisor {
                        background: $white;
                        width: 1.1875rem;
                        height: 0.0625rem;
                    }

                    .como-fazemos__card__text {
                        color: $white;
                        font-size: 0.875rem;
                        font-weight: 400;
                        line-height: 1.5rem;
                    }
                }
            }
            .como-fazemos__card2 {
                background-image: url("/assets/imagens/cardsMetodologia/card2.svg");
            }
            .como-fazemos__card3 {
                background-image: url("/assets/imagens/cardsMetodologia/card3.svg");
            }
            .como-fazemos__card4 {
                background-image: url("/assets/imagens/cardsMetodologia/card4.svg");
            }

            /* Hide scrollbar for IE, Edge and Firefox */
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
        /* Hide scrollbar for Chrome, Safari and Opera */
        .como-fazemos__content::-webkit-scrollbar {
            display: none;
        }
    }
}
