@use '../../../../src/app/styleGuide' as *;


.contatoMain {
  min-width: 100%;

  .contatoForm {
    // width: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1008px) {
      flex-direction: row;
      justify-content: center;
      gap: 5.5rem;
      padding: 3rem;
    }

    .contatoFormGroup {
      display: flex;
      width: 100%;
      flex-direction: column;
    }
  }
}

.contatoMain {
  background: rgb(255, 242, 204);
  padding: 2rem 1.25rem 2.125rem;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;

  @media screen and (min-width: 1008px) {
    padding: 11.25rem 15%;
  }
}

.contatoForm {
  flex-direction: row;
  justify-content: center;
  gap: 1.25rem;
  padding: 1.5rem 1.25rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 17px;
  border-radius: 0.25rem;
  background-color: #fff;

  @media screen and (min-width: 1008px) {
    gap: 5.5rem;
    padding: 3rem;
  }
}

.contatoFormGroup {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
}

.contatoFormGroup>div {
  display: flex;
  flex-direction: column;
}

.contatoFormGroup label {
  margin-bottom: 0.5rem;
  // font-weight: 600;
  font-size: 14px;
}

.contatoFormGroup input,
.contatoFormGroup textarea {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(138, 138, 138);
  resize: none;
  padding: 0.56rem 0.88rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(243, 243, 243);
  border-image: initial;
  border-radius: 0.125rem;
}

.contatoFormGroup input:focus,
.contatoFormGroup textarea:focus {
  border-color: #176c62;
}

.contatoFormGroup textarea {
  resize: none;
  min-height: 120px;
}

.submit-botao {
  background-color: #176c62;
  color: white;
  border: none;
  padding: 0.9rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background 0.3s;
}

.submit-botao:hover {
  background-color: #0f4f48;
}

.contatoTexto {
  display: flex;
  flex-direction: column;
  justify-content: center;

  // align-items: center;
  // gap: 2rem; 
  @media screen and (min-width: 1008px) {
    width: 40%;
  }
}

.contatoTexto span {
  font-size: 0.75rem;
  font-weight: 500;
  color: rgb(138, 138, 138);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.contatoTexto h2 {
  font-size: 1.75rem;
  line-height: normal;
  font-weight: 300;
  margin-bottom: 0.5rem;

  @media screen and (min-width: 1008px) {
    font-size: 2.5rem;
  }
}

.contatoTexto h2 strong {
  color: rgb(33, 89, 79);
  font-weight: 500;
}

.contatoTexto p {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(53, 58, 66);
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin: 0;

  @media screen and (min-width: 1008px) {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2rem;
  }
}

.contatoFormGroupInput {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  font-weight: 400;
  gap: 0.63rem;

  label {
    margin: 0;
    font-size: 0.875rem;
    font-weight: 400;
  }
}