@use '@/app/styleGuide' as *;



// .home__clientes {
//     display: flex;
//     flex-direction: column;
//     background-color: $background;

//     .clientes__titles {
//         padding: 2rem 1.25rem 0rem 1.25rem;
//         display: flex;
//         flex-direction: column;
//         gap: 1.5rem;

//         .clientes__title2 {
//             @include title2();
//             text-transform: uppercase;
//         }

//         .clientes__title1 {
//             @include title1();
//         }
//     }

//     .clientes__brands {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         position: relative;
//         overflow: hidden;

//         .clientes__slider {
//             height: 5.1875rem;
//             margin-top: 1rem;
//             display: flex;
//             justify-content: space-between;
//             gap: 4rem;
//             position: relative;
//             animation: slideshow 20s linear infinite;

//             @keyframes slideshow {
//                 0% {
//                     left: 10%;
//                 }
//                 100% {
//                     left: -200%;
//                 }
//             }
//         }

//         .clientes__slider-reverse {
//             align-self: flex-end;
//             animation: slideshow-reverse 20s linear infinite;

//             @keyframes slideshow-reverse {
//                 0% {
//                     right: 10%;
//                 }
//                 100% {
//                     right: -200%;
//                 }
//             }
//         }
//     }

//     .clientes__mainbutton {
//         @include button1();
//         margin: 2rem auto 1rem;
//         color: $white;
//         font-weight: 500;
//     }
// }

.home__clientes {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;

  .clientes__titles {
    padding: 2rem 1.25rem 2rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .clientes__title2 {
      font-size: 0.75rem;
      font-weight: 500;
      color: #8a8a8a;
      text-transform: uppercase;
    }

    .clientes__title1 {
      font-size: 1.75rem;
      line-height: normal;
      font-weight: 300;

      .text-highlight {
        font-weight: 500;
        color: #21594f;
      }
    }
  }

  .clientes__brands {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .nossos-clientes__body {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 0 2.5rem;
      grid-column-gap: 2.5rem;
      grid-row-gap: 1.5rem;

      .logo__clientes {
        align-items: center;

        /* background-color: #f7f7f7; */
        border: none;
        display: flex;
        height: 82px;
        justify-content: center;
        width: 100%;

        // &:last-child {
        //   grid-column: 2;
        // }

        img {
          height: 100%;
          object-fit: contain;
          width: 100%;
        }
      }
    }

    .clientes__slider {
      height: 5.1875rem;
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      gap: 4rem;
      position: relative;
      animation: slideshow 20s linear infinite;
    }

    .clientes__slider-reverse {
      align-self: flex-end;
      animation: slideshow-reverse 20s linear infinite;
    }
  }

  .clientes__mainbutton {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 300;
    color: #353a42;
    background: #21594f;
    padding: 0.75rem 2rem;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
    border: 0;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    margin: 2rem auto 1rem;
    color: #fff;
    font-weight: 500;

    * {
      color: #fff;
      font-weight: 500;
    }
  }
}

@keyframes slideshow {
  0% {
    left: 10%;
  }

  100% {
    left: -200%;
  }
}

@keyframes slideshow-reverse {
  0% {
    right: 10%;
  }

  100% {
    right: -200%;
  }
}
