@use '@/app/styleGuide' as *;



.home__clientes-desk {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: $background;
    padding: 1.5rem 0 5rem;

    .clientes__titles {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        .clientes__title2 {
            @include title2();
            text-transform: uppercase;
            font-size: 1rem;
        }

        .clientes__title1 {
            @include title1();
            font-size: 2.5rem;
            max-width: 45%;
            text-align: center;
        }
    }

    .clientes__brands {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        position: relative;
        overflow: hidden;

        .clientes__slider {
            margin: 0.5rem 0 1rem 0;
            height: 4rem;
            display: flex;
            justify-content: space-between;
            gap: 5rem;
            position: relative;
            animation: slideshow 60s linear infinite;

            @keyframes slideshow {
                0% {
                    left: 0%;
                }
                100% {
                    left: -200%;
                }
            }
        }

        .clientes__slider-reverse {
            align-self: flex-end;
            animation: slideshow-reverse 60s linear infinite;

            @keyframes slideshow-reverse {
                0% {
                    right: 0%;
                }
                100% {
                    right: -200%;
                }
            }
        }
    }

    .clientes__mainbutton {
        @include button1();
        padding: 0.875rem 3rem;
        gap: 0;
        font-size: 1.125rem;
        font-weight: 400;
        color: $white;

        .clientes__button__icon {
            width: 0;
            transition: all 0.5s ease;
        }

        &:hover {
            transition: ease-in-out 0.5s;
            background-color: $greenhover;

            .clientes__button__icon {
                width: 11px;
                margin-left: 1rem;
            }
        }
    }
}
