@use '@/app/styleGuide' as *;


.menu__container{
    background-color:$green;
    padding: 1.25rem;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    animation: fadeIn 0.7s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
   
    .menu__header{
        display: flex;
        justify-content: space-between;
        position: fixed;

        .menu__header__logo, .menu__header__closebtn {
            position: fixed;
        }
        .menu__header__closebtn { 
            right: 1.25rem; 
        }
    }


    .menu__body-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        margin-top: 5.625rem;
        list-style: none;

        .menu__body__link{
            color: $white;
            text-align: center;
            font-size: 2rem;
            font-style: normal;
            font-weight: 200;
            line-height: normal;
            text-decoration: none;
            
        }
        
    }

    .menu__footer{
        .menu__subtitle{
            @include title2;
            line-height: 1.125rem;
            letter-spacing: 0.03125rem;
            margin-bottom: 0.5rem;
        }

        .menu__footer__text{
            color: $white;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.3125rem;
            letter-spacing: 0.03125rem;
            margin-bottom: 2.62rem;
            text-decoration: none;
        }

        .redes__sociais{
            margin-right: 2.5rem;
            
        }
        
    }


}







