@use '@/app/styleGuide' as *;


@mixin footer-text {
    line-height: 1.5rem;
    color: $white;
    text-decoration: none;
    font-style: normal;
}

.footer-desk {
    display: flex;
    flex-direction: column;

    .footer1 {
        background-color: $grey;
        padding: 5rem 18%;
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;

        .footer__section {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .footer__section__list {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                list-style: none;
                padding-left: 0;
                margin: 0;

                .footer__link {
                    @include footer-text();
                    font-size: 1;
                    font-weight: 300;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .footer__title {
                color: $text2;
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 300;
            }

            .footer__text {
                @include footer-text();
                font-size: 1rem;
                font-weight: 400;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            .footer__social__list {
                display: flex;
                gap: 1.25rem;
                margin-top: 0.38rem;
                list-style: none;
                padding-left: 0;
                margin: 0;
            }
        }
    }

    .footer2 {
        background-color: $green;
        padding: 2rem 15%;
        display: flex;
        justify-content: space-between;

        .footer2__text {
            @include footer-text();
            font-size: 0.75rem;
            font-weight: 300;
            text-align: right;
        }
    }
}