@use '@/app/styleGuide' as *;

.nossos-clientes__container {
    display: flex;
    width: 100%;
    padding: 2rem 1.25rem 0rem 1.25rem;
    flex-direction: column;
    align-items: center;

    .nossos-clientes__header {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        .header__title1 {
            @include title1;
            margin-bottom: 1.5rem;
            margin-top: 1.5rem;
        }

        .header__title2 {
            @include title2;
            text-transform: uppercase;
            font-size: 0.75rem;
        }

        .header__text1 {
            @include padrao;
            line-height: 1.5rem;
            font-size: 0.875rem;
        }
    }

    .nossos-clientes__body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(17, 1fr);
        grid-column-gap: 3rem;
        grid-row-gap: 0.2rem;
        justify-items: center;
        align-items: center;
        justify-content: center;

        padding-bottom: 3rem;

        .logo__clientes {
            display: flex;
            height: 100%;
            width: 100%;
            // width: auto;
            padding: 0 1.5rem;
            justify-content: center;
            align-items: center;
            // scale: 1.4; //olha a brisa do cara que escreveu isso

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}